<a href="https://colab.research.google.com/github/christophermalone/DSCI325/blob/main/NLP_Twitter_NoAccessKeyInfo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Natural Language Processing - Twitter

## Setting up Twitter Side

Go to Twitter Development website and setup an new app.

<p align='center'><img src="https://drive.google.com/uc?export=view&id=" width="25%" height="25%"></img></p>

## Setting up Python

In [ ]:
import os
import tweepy
import pandas as pd

# specify keys/secrets from Twitter App
consumer_key = ''
consumer_secret = ''
access_token = ''
access_token_secret = ''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [ ]:
results = api.search(q='rittenhouse', count=1000)

json_data = [r._json for r in results]

#Convert json data to data.frame
Twitterdf = pd.json_normalize(json_data)
Twitterdf.head()

                       created_at  ...  extended_entities.media
0  Thu Dec 02 16:59:50 +0000 2021  ...                      NaN
1  Thu Dec 02 16:59:48 +0000 2021  ...                      NaN
2  Thu Dec 02 16:59:46 +0000 2021  ...                      NaN
3  Thu Dec 02 16:59:46 +0000 2021  ...                      NaN
4  Thu Dec 02 16:59:43 +0000 2021  ...                      NaN

[5 rows x 230 columns]

In [ ]:
Twitterdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 230 entries, created_at to extended_entities.media
dtypes: bool(18), float64(46), int64(9), object(157)
memory usage: 167.5+ KB

In [ ]:
#Install dfply for dplyr like functionality in Python
!pip install dfply
from dfply import *

Requirement already satisfied: dfply in /usr/local/lib/python3.7/dist-packages (0.3.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dfply) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dfply) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.15.0)

In [ ]:
#Piping in dfply and using filter_by() to grab requested rows.
Twitterdf_Reduced = ( Twitterdf
              >> select(X.created_at, X.id, X.text, X.retweet_count, X.favorite_count, X.possibly_sensitive)
              
            )
Twitterdf_Reduced.shape
Twitterdf_Reduced.head()

                       created_at  ...  possibly_sensitive
0  Thu Dec 02 16:59:50 +0000 2021  ...                 NaN
1  Thu Dec 02 16:59:48 +0000 2021  ...               False
2  Thu Dec 02 16:59:46 +0000 2021  ...               False
3  Thu Dec 02 16:59:46 +0000 2021  ...               False
4  Thu Dec 02 16:59:43 +0000 2021  ...               False

[5 rows x 6 columns]

In [ ]:
print(Twitterdf_Reduced.iloc[0]['text'])

print('\n')
print(Twitterdf_Reduced.iloc[1]['text'])

print('\n')
print(Twitterdf_Reduced.iloc[2]['text'])

RT @JackPosobiec: BREAKING: Epstein Victim Takes Stand in Ghislaine Maxwell Trial

Supreme Court Official Takes Up Roe v Wade Case

Kyle R‚Ä¶


Reactions to the Kyle Rittenhouse not guilty verdict |¬†Nightline https://t.co/jBOGZHGO2e


RT @JonathanTurley: During the trial, NBC released a statement that some of us found vague and misleading. Now a police video confirms that‚Ä¶

## Getting rid twitter specific content

In [ ]:
import re as re

# Define a function to clean the text
def clean_twittertext(text):
    # Removes #, @, and https:// and http:// from twitter text
    text = re.sub(r'#\w+', '', str(text))  # remove hashtags
    text = re.sub(r'@\w+', '', str(text))  # remove hashtags
    text = re.sub(r'http[s]?://\S+', '', str(text))  # remove hashtags
    return text

In [ ]:
# Removing the unnecessary twitter content
Twitterdf_Reduced['CleanedTwitter'] = Twitterdf_Reduced['text'].apply(clean_twittertext)
Twitterdf_Reduced.head()

                       created_at  ...                                     CleanedTwitter
0  Thu Dec 02 16:59:50 +0000 2021  ...  RT : BREAKING: Epstein Victim Takes Stand in G...
1  Thu Dec 02 16:59:48 +0000 2021  ...  Reactions to the Kyle Rittenhouse not guilty v...
2  Thu Dec 02 16:59:46 +0000 2021  ...  RT : During the trial, NBC released a statemen...
3  Thu Dec 02 16:59:46 +0000 2021  ...  RT : Mark Zuckerberg allows Kyle Rittenhouse b...
4  Thu Dec 02 16:59:43 +0000 2021  ...  RT : Mark Zuckerberg allows Kyle Rittenhouse b...

[5 rows x 7 columns]

Comparing a cleaned review against it's original.

In [ ]:
print(Twitterdf_Reduced.iloc[0]['text'])
print(Twitterdf_Reduced.iloc[0]['CleanedTwitter'])
print('\n')
print(Twitterdf_Reduced.iloc[1]['text'])
print(Twitterdf_Reduced.iloc[1]['CleanedTwitter'])
print('\n')
print(Twitterdf_Reduced.iloc[2]['text'])
print(Twitterdf_Reduced.iloc[2]['CleanedTwitter'])

RT @JackPosobiec: BREAKING: Epstein Victim Takes Stand in Ghislaine Maxwell Trial

Supreme Court Official Takes Up Roe v Wade Case

Kyle R‚Ä¶
RT : BREAKING: Epstein Victim Takes Stand in Ghislaine Maxwell Trial

Supreme Court Official Takes Up Roe v Wade Case

Kyle R‚Ä¶


Reactions to the Kyle Rittenhouse not guilty verdict |¬†Nightline https://t.co/jBOGZHGO2e
Reactions to the Kyle Rittenhouse not guilty verdict |¬†Nightline


RT @JonathanTurley: During the trial, NBC released a statement that some of us found vague and misleading. Now a police video confirms that‚Ä¶
RT : During the trial, NBC released a statement that some of us found vague and misleading. Now a police video confirms that‚Ä¶

In [ ]:
# Define a function to clean the text
def clean(text):
    # Removes all special characters and numericals leaving the alphabets
    text = re.sub('[^A-Za-z]+', ' ', str(text)) 
    return text

In [ ]:
# Removing the non-alphabetic characters
Twitterdf_Reduced['CleanedReviews'] = Twitterdf_Reduced['CleanedTwitter'].apply(clean)
Twitterdf_Reduced.head()

                       created_at  ...                                     CleanedReviews
0  Thu Dec 02 16:59:50 +0000 2021  ...  RT BREAKING Epstein Victim Takes Stand in Ghis...
1  Thu Dec 02 16:59:48 +0000 2021  ...  Reactions to the Kyle Rittenhouse not guilty v...
2  Thu Dec 02 16:59:46 +0000 2021  ...  RT During the trial NBC released a statement t...
3  Thu Dec 02 16:59:46 +0000 2021  ...  RT Mark Zuckerberg allows Kyle Rittenhouse bac...
4  Thu Dec 02 16:59:43 +0000 2021  ...  RT Mark Zuckerberg allows Kyle Rittenhouse bac...

[5 rows x 8 columns]

In [ ]:
print(Twitterdf_Reduced.iloc[0]['text'])
print(Twitterdf_Reduced.iloc[0]['CleanedReviews'])
print('\n')
print(Twitterdf_Reduced.iloc[1]['text'])
print(Twitterdf_Reduced.iloc[1]['CleanedReviews'])
print('\n')
print(Twitterdf_Reduced.iloc[2]['text'])
print(Twitterdf_Reduced.iloc[2]['CleanedReviews'])

RT @JackPosobiec: BREAKING: Epstein Victim Takes Stand in Ghislaine Maxwell Trial

Supreme Court Official Takes Up Roe v Wade Case

Kyle R‚Ä¶
RT BREAKING Epstein Victim Takes Stand in Ghislaine Maxwell Trial Supreme Court Official Takes Up Roe v Wade Case Kyle R


Reactions to the Kyle Rittenhouse not guilty verdict |¬†Nightline https://t.co/jBOGZHGO2e
Reactions to the Kyle Rittenhouse not guilty verdict Nightline


RT @JonathanTurley: During the trial, NBC released a statement that some of us found vague and misleading. Now a police video confirms that‚Ä¶
RT During the trial NBC released a statement that some of us found vague and misleading Now a police video confirms that

## Tokenization and Removal of Stopwords

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

def token_stop(text):
    text_tokens = word_tokenize(text)
    tokens_without_sw = [word for word in text_tokens if not word in stopwords.words()]
    filtered_sentence = (" ").join(tokens_without_sw)
    return filtered_sentence

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

The following code uses the custom token_stop_pos() function defined above.  This custom function tokenizes the text, removes any stop words, and identifies the parts of speech.  The pos dictionary is specified to keep only adjectives, verbs, nouns, and adverbs.

In [ ]:
Twitterdf_Reduced['CleanedReviews_NoStopWords'] = Twitterdf_Reduced['CleanedReviews'].apply(token_stop)
Twitterdf_Reduced.head()

                       created_at  ...                         CleanedReviews_NoStopWords
0  Thu Dec 02 16:59:50 +0000 2021  ...  RT BREAKING Epstein Victim Takes Stand Ghislai...
1  Thu Dec 02 16:59:48 +0000 2021  ...  Reactions Kyle Rittenhouse guilty verdict Nigh...
2  Thu Dec 02 16:59:46 +0000 2021  ...  RT During trial NBC released statement us foun...
3  Thu Dec 02 16:59:46 +0000 2021  ...  RT Mark Zuckerberg allows Kyle Rittenhouse bac...
4  Thu Dec 02 16:59:43 +0000 2021  ...  RT Mark Zuckerberg allows Kyle Rittenhouse bac...

[5 rows x 9 columns]

## Obtain the root of each word

<strong>Lemmatization</strong> is the process of converting a word to its base form. An alternative process is <strong>stemming</strong> a word which simply removes the last few characters, e.g. the s from studys would be removed by stemming or the ied from studied would be removed by stemming.  Lemmatization is a more sophicated and considers the context and converts the word to its meaningful base form. Lemmatization tends to lead to more meaningful conversation than stemming.

Once again the natural language toolkit will be used for the lemmitization of our reviews.  The custom lemmatize() function takes the parts of speech list, applies the lemmatization to this list, and then creates a string that contains the base roots of each word.

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

def lemmatize(text):
    word_list = nltk.word_tokenize(text)
    lemmatized_output = ' '.join([lemmatizer.lemmatize(w) for w in word_list])
    return lemmatized_output

In [ ]:
Twitterdf_Reduced['ReviewsFinal'] = Twitterdf_Reduced['CleanedReviews_NoStopWords'].apply(lemmatize)
Twitterdf_Reduced.head()

                       created_at  ...                                       ReviewsFinal
0  Thu Dec 02 16:59:50 +0000 2021  ...  RT BREAKING Epstein Victim Takes Stand Ghislai...
1  Thu Dec 02 16:59:48 +0000 2021  ...  Reactions Kyle Rittenhouse guilty verdict Nigh...
2  Thu Dec 02 16:59:46 +0000 2021  ...  RT During trial NBC released statement u found...
3  Thu Dec 02 16:59:46 +0000 2021  ...  RT Mark Zuckerberg allows Kyle Rittenhouse bac...
4  Thu Dec 02 16:59:43 +0000 2021  ...  RT Mark Zuckerberg allows Kyle Rittenhouse bac...

[5 rows x 10 columns]

In [ ]:
print(Twitterdf_Reduced.iloc[0]['text'])
print(Twitterdf_Reduced.iloc[0]['ReviewsFinal'])
print('\n')
print(Twitterdf_Reduced.iloc[1]['text'])
print(Twitterdf_Reduced.iloc[1]['ReviewsFinal'])
print('\n')
print(Twitterdf_Reduced.iloc[2]['text'])
print(Twitterdf_Reduced.iloc[2]['ReviewsFinal'])

RT @JackPosobiec: BREAKING: Epstein Victim Takes Stand in Ghislaine Maxwell Trial

Supreme Court Official Takes Up Roe v Wade Case

Kyle R‚Ä¶
RT BREAKING Epstein Victim Takes Stand Ghislaine Maxwell Trial Supreme Court Official Takes Up Roe Wade Case Kyle R


Reactions to the Kyle Rittenhouse not guilty verdict |¬†Nightline https://t.co/jBOGZHGO2e
Reactions Kyle Rittenhouse guilty verdict Nightline


RT @JonathanTurley: During the trial, NBC released a statement that some of us found vague and misleading. Now a police video confirms that‚Ä¶
RT During trial NBC released statement u found vague misleading Now police video confirms

## Emotion Analysis

Source:  https://towardsdatascience.com/text2emotion-python-package-to-detect-emotions-from-textual-data-b2e7b7ce1153

In [ ]:
#Install package using pip
!pip install text2emotion

#Import the modules
import text2emotion as te

# function to calculate polarity
def getEmotion(review):
    return te.get_emotion(review)

Requirement already satisfied: text2emotion in /usr/local/lib/python3.7/dist-packages (0.0.5)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from text2emotion) (3.2.5)
Requirement already satisfied: emoji>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from text2emotion) (1.6.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk->text2emotion) (1.15.0)

In [ ]:
#Get the emotion scores
Twitterdf_Reduced['Emotion'] = Twitterdf_Reduced['ReviewsFinal'].apply(getEmotion)
Twitterdf_Reduced.head()

                       created_at  ...                                            Emotion
0  Thu Dec 02 16:59:50 +0000 2021  ...  {'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.6, ...
1  Thu Dec 02 16:59:48 +0000 2021  ...  {'Happy': 1.0, 'Angry': 0.0, 'Surprise': 0.0, ...
2  Thu Dec 02 16:59:46 +0000 2021  ...  {'Happy': 0.0, 'Angry': 0.0, 'Surprise': 0.0, ...
3  Thu Dec 02 16:59:46 +0000 2021  ...  {'Happy': 0, 'Angry': 0, 'Surprise': 0, 'Sad':...
4  Thu Dec 02 16:59:43 +0000 2021  ...  {'Happy': 0, 'Angry': 0, 'Surprise': 0, 'Sad':...

[5 rows x 11 columns]

In [ ]:
#Split emotion list up into seperate columns
Twitterdf_Reduced[['Happy','Angry', 'Surprise', 'Sad', 'Fear']] = pd.DataFrame(Twitterdf_Reduced.Emotion.values.tolist(), index= Twitterdf_Reduced.index)

Twitterdf_Reduced.head()

                       created_at                   id  ...  Sad  Fear
0  Thu Dec 02 16:59:50 +0000 2021  1466452055636201474  ...  0.0   0.4
1  Thu Dec 02 16:59:48 +0000 2021  1466452049172697090  ...  0.0   0.0
2  Thu Dec 02 16:59:46 +0000 2021  1466452041195134977  ...  0.0   1.0
3  Thu Dec 02 16:59:46 +0000 2021  1466452041136586761  ...  0.0   0.0
4  Thu Dec 02 16:59:43 +0000 2021  1466452030000488448  ...  0.0   0.0

[5 rows x 16 columns]

In [ ]:
#Piping in dfply and using filter_by() to grab requested rows.
(Twitterdf_Reduced
    >>summarize(
                  Avg_Happy=X.Happy.mean(),
                  Avg_Angry=X.Angry.mean(),
                  Avg_Surprise=X.Surprise.mean(),
                  Avg_Sad=X.Sad.mean(),
                  Avg_Fear=X.Fear.mean()
                )
)

   Avg_Happy  Avg_Angry  Avg_Surprise  Avg_Sad  Avg_Fear
0     0.0558     0.1025        0.1678   0.2532    0.2404